<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Protectora de animales</h1>
    <h4>Selecciona una tabla</h4>
    <form method="POST" action="../Controller/cerebro.php">
        <select name="opcion" id="selectorOpciones">
            <option value="animales">Animales</option>
            <option value="adopcion">Adopción</option>
            <option value="usuario">Usuario</option>
        </select>
        <button type="submit" name="mostrarBoton">Mostrar tabla</button>
        <button type="submit" name="añadirBoton">Añadir tabla</button>
        <button type="submit" name="modificarBoton">Modificar tabla</button>
    </form>
</body>
</html>